body.dark-mode {
	background-color: gray !important;
}
body.dark-mode #home_intermediaire ul.Menu li ul.sMenu li a {
	color: white;
}

/***Docker***/
#dock {
	position: absolute;
	z-index: 1000;
	font-size: 1rem;
	border-radius: 2px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
	overflow: hidden;
	max-width: 400px;
	backdrop-filter: blur(20px);
	background-color: rgba(255, 255, 255, 0.2);;
}
#dock-header {
	padding: 4px;
	cursor: move;
	font-weight: bold;
	border-bottom: 1px solid lightgray;
	transition: opacity ease-in-out .1s;
}
#_colexp {
	cursor: pointer;
	padding-left: 8px
}
#dock-content {
	padding: 8px;
}

/***Popover***/
.popover {
	opacity: 1;
	visibility: visible;
	position: absolute;
	transform: translate(0, 10px);
	background-color: lightgray;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
	width: auto;
	border-radius: 2px;
	z-index: 1000;
	padding: 12px 24px 12px 12px;
	white-space: nowrap;
}
.popover::before {
	position: absolute;
	content: "";
	top: -10px;
	border-style: solid;
	border-width: 0 10px 10px 10px;
	border-color: transparent transparent lightgray transparent;
}
.popover-close {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	right: 0;
	line-height: 1;
	width: 1.5rem;
	height: 1.5rem;
	text-align: center;
	cursor: pointer;
}